/* Base HTML styling */
html {
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100%;
}
body {
    z-index: 1;
    background-color: grey;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* Title for buyer/seller */
#buyerTitle {
    position: absolute;
    top: 25px;
    font-size: 30px;
    color: white;
    right: 22%;
}
#sellerTitle {
    position: absolute;
    top: 25px;
    font-size: 30px;
    color: white;
    left: 22%;
}

/* Timer UI */
#roundTimer {
    position: absolute;
    top: 50px;
    right: 50px;
    color: white;
}
#roundTimerHeader {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
}

/* Styling group - message space */
#message-display {
    background-color: white;
    width: 60%;
    height: 80%;
    overflow: scroll;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
.message-space {
    width: 90%;
    margin-top: 20px;
    margin: auto;
    min-height: 50px;
    height: auto;
    overflow: auto;
    display: block;
    margin-bottom: 40px;
}
.message {
    font-size: 18px;
    padding: 2px;
    margin-top: 5px;
    min-width: 100px;
    max-width: 500px;
}

/* user text input styling */
#user-input-field-left {
    font-size: 24px;
    background-color: rgb(235, 235, 235);
    width: 29.5%;
    max-height: 10%;
    bottom: 0px;
    text-decoration: none;
    outline: none;
    resize: none;
    position: absolute;
    left: 20.5%;
}
#user-input-field-right {
    font-size: 24px;
    background-color: rgb(235, 235, 235);
    width: 29.5%;
    max-height: 10%;
    bottom: 0px;
    text-decoration: none;
    outline: none;
    resize: none;
    position: absolute;
    right: 19%;
}

/* Hardcoded buyer/seller message styling */
.seller {
    float: left;
    clear: left;
}
.buyer {
    float: right;
    clear: right;
    text-align: right;
}

/* Start Controls */
#start {
    height: 5%;
    position: absolute;
    min-width: 6%;
    left: 15px;
    bottom: 1%;
}
#timer_container {
    position: absolute;
    max-width: 8%;
    bottom: 15%;
    left: 15px;
}
.timer_header {
    font-size: small;
    position: relative;
    color: white;
}
.timer {
    max-height: 5%;
    position: relative;
    max-width: 60px;
}

/* Popup window styles */
#popup {
    z-index: 2;
    max-width: 600px;
    background: lightgrey;
    display: none;
    position: absolute;
    margin: auto;
    left: 10px;
    top: 14%;
    border: darkgrey solid 1px;
}
#display_popup {
    height: 5%;
    position: absolute;
    min-width: 8%;
    left: 15px;
    bottom: 7%;
}
.popup-item {
    white-space: pre-wrap;
    overflow-wrap: normal;
    width: 100%;
}

/* Ingredient Display */
#ingredient_display {
    z-index: 2;
    white-space: pre-wrap;
    overflow-wrap: normal;
    max-width: 600px;
    background: lightgrey;
    display: none;
    position: absolute;
    margin: auto;
    right: 10px;
    top: 14%;
    border: darkgrey solid 1px;
}
#show_ingredient_display {
    height: 5%;
    position: absolute;
    min-width: 10%;
    right: 15px;
    bottom: 1%;
}